<div class="d-md-column p-4 side-bar-editor">
  <div class="side-bar-container">
    <p>
      Drag and drop the statistics or chart button into the dashboard to the
      left!
    </p>
    <div class="grid-stack-item drag-widget" id="widget-item">
      <div class="grid-stack-item-content">
        <div
          class="sidebar-card d-flex align-items-center"
          style="height: 100%"
        >
          <img
            src="{{ path }}assets/images/statistics.png"
            alt="statistics.png"
          />
          <div class="mx-2">
            <span>Statistics</span>
            <p class="my-2">
              Portfolio Statistics
              <br />
              data widget
            </p>
          </div>
        </div>
      </div>
      <!-- <div class="grid-stack-item-content">
        <p>
          Click the "<i class="fa fa-cog"></i>" icon to change configuration
        </p>
      </div> -->
    </div>
    <ul class="hide-mini">
      <li>Total Opportunity SqFt</li>
      <li>Total Opportunity Value</li>
      <li>Total Opportunity Percent</li>
      <li>Buildings Measured</li>
      <li>Obtained Opportunity</li>
      <li>Value Realized</li>
      <li>Total Buildings</li>
    </ul>
    <div class="grid-stack-item drag-widget">
      <div class="widget-content"></div>
      <div
        class="grid-stack-item-content sidebar-card d-flex d-md-column align-items-center p-3"
      >
        <div>
          <img src="{{ path }}assets/images/charts.png" alt="charts.png" />
        </div>
        <div class="mx-2">
          <span>Charts</span>
          <p class="my-2">Portfolio Charts</p>
        </div>
      </div>
    </div>
    <ul class="hide-mini">
      <li>Measurement Status - Pie</li>
      <li>Final Reports Summary - Summary</li>
      <li>Rollover Captured SqFt - Bar</li>
      <li>Rollover SqFt By Year - Doughnut</li>
      <li>Prelim Report Opportunity Statistics - Summary</li>
      <li>Final Report Opportunity Statistics - Summary</li>
      <li>Preliminary Reports Summary - Summary</li>
      <li>Measurements by Property Type - Pie</li>
    </ul>
  </div>
</div>
