<header class="header-container px-4">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid main-header">
      <div class="d-flex justify-content-between align-items-center">
        <a routerLink="/dashboard" class="navbar-brand">
          <img
            src="/assets/images/logo.png"
            height="35"
            width="30"
            alt="MyAccess"
          />
        </a>
        <div class="collapse navbar-collapse header-tab" id="navbarCollapse">
          <div class="navbar-nav ms-4">
            <a [href]="propertiesUrl" class="nav-item nav-link">Properties</a>
            <a [href]="ordersUrl" class="nav-item nav-link">Orders</a>
            <a [href]="reportsUrl" class="nav-item nav-link">Reports</a>
            <a [href]="companiesUrl" class="nav-item nav-link">Companies</a>
            <a [href]="teamsUrl" class="nav-item nav-link">Teams</a>
            <a [href]="systemSettingsUrl" class="nav-item nav-link"
              >System Settings</a
            >
          </div>
        </div>
      </div>

      <div>
        <div>
          <div class="navbar-nav ms-auto align-items-center flex-row nav-right">
            <a class="nav-item nav-link" (click)="clickSearch()">
              <!-- <i class="fa fa-search"></i> -->
              <fa-icon
                [icon]="faSearch"
                style="font-size: 16px; font-weight: bold"
              ></fa-icon>
            </a>
            <a class="nav-item nav-link">
              <fa-icon
                [icon]="faBell"
                style="font-size: 20px; font-weight: bold"
              ></fa-icon>
            </a>
            <a class="nav-item nav-link support-nav-item">Support</a>

            <div class="dropdown">
              <div
                [ngClass]="toggle ? 'select select-clicked' : 'select'"
                (click)="toggleDropdown()"
              >
                <button class="btn btn-menu-profile me-1" type="button">
                  {{ formatName('Zavanti') }}
                </button>
              </div>
              <ul [ngClass]="toggle ? 'menu menu-open' : 'menu'">
                <li>
                  <p class="account-name">ZavantiAdmin</p>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/account">Account</a>
                </li>
                <li>
                  <a class="dropdown-item" (click)="onLogout()">Logout</a>
                </li>
              </ul>
            </div>
            <!-- <div
                aria-labelledby="dropdownMenuButton"
                [ngClass]="
                  showDropdownMenu
                    ? 'dropdown-menu show-menu'
                    : 'dropdown-menu hide-menu'
                "
              >
                <a class="dropdown-item" routerLink="/account">Account</a>
                <a class="dropdown-item support-nav-item-sm">Support</a>
                <a class="dropdown-item" (click)="onLogout()">Logout</a>
              </div> -->

            <div class="dropdown menu-dropdown-sm">
              <button
                class="btn btn-menu-bar me-1"
                type="button"
                id="menu-list-btn"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i
                  class="fa fa-bars"
                  aria-hidden="true"
                  style="font-size: 20px"
                ></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="menu-list-btn">
                <a class="dropdown-item" routerLink="/my-properties"
                  >Properties</a
                >
                <a class="dropdown-item" routerLink="/active-orders">Orders</a>
                <a class="dropdown-item" routerLink="/category-summary"
                  >Reports</a
                >
                <a class="dropdown-item" routerLink="/company-listing"
                  >Companies</a
                >
                <a class="dropdown-item" routerLink="/member-list">Teams</a>
                <a class="dropdown-item" routerLink="/system-settings"
                  >System Settings</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
