footer {
    background: #323234;
    height: 185px;
    width: 100%;
    /* position: sticky; */
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 40px;


}

footer .main-footer {
    padding: 40px 40px 0;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-left: 40px;

}

footer .main-footer .site-logo {
    width: 45px;
}

footer .main-footer .footer-links>* {
    color: #7b7b7d;
    display: block;
}

img {
    vertical-align: middle;
    border-style: none;
}