<footer id="site-footer">
    <div class="container-fluid main-footer">
      <div class="row">
        <div class="col-md-1 col-3">
          <a href="/dashboard"><img class="img-responsive site-logo" src="/assets/images/logo-white.png"></a>
  
  
        </div>
        <div class="col-md-8 col-9 footer-links">
  
          <span>Stevenson Systems, Inc.</span>
          <span>27822 El Lazo Road</span>
          <span>Laguna Niguel, CA 92677</span>
          <a href="mailto:myaccess@stevensonsystems.com">Contact Us</a>
        </div>
      </div>
    </div>
  </footer>